<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>
<!-- basic form
  <form action=<%= users_path %> method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input type="text" name="user[username]"></br>
    <label for="email">Email:</label>
    <input type="text" name="user[email]"></br>
    <label for="password">Password:</label>
    <input type="password" name="user[password]"></br>
    <input type="submit" value="Submit">
  </form>
-->

<!-- railsy form
  <%= form_tag(users_path, method: "post") do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %></br>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email) %></br>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %></br>
    <%= submit_tag("Submit") %>
  <% end %>
-->

<!-- Railsy-er form -->
  <%= form_for @user, url: users_path do |f| %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>

    <%= f.label :username, "Username: " %>
    <%= f.text_field :username, placeholder: "Test" %></br>
    <%= f.label :email, "Email: " %>
    <%= f.text_field :email, placeholder: "test@test.com" %></br>
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password, placeholder: "123456" %></br>
    <%= f.submit "Submit" %>
  <% end %>

</body>
</html>
